@import "node_modules/bootstrap/scss/bootstrap";

$fa-font-path: 'node_modules/font-awesome/fonts';
@import "node_modules/font-awesome/scss/font-awesome";

body {
  padding: 2 * $spacer 0;
}

.card > item {
  display: block;
  padding: $card-spacer-y $card-spacer-x;
  border-top: 1px solid $card-border-color;
  text-align: left;
  &:first-of-type {
    padding-top: 0;
    border-top: 0;
  }
  &:last-child {
    padding-bottom: $card-spacer-x;
  }
  > .label::after {
    content: ':';
  }
  > .float-right > i {
    transition: .5s;
  }
  .collapse {
    overflow: hidden;
    &:not(.in) {
      display: none;
      max-height: 0;
    }
    max-height: 1000px;
  }
}

.flex-item-expandable {
  flex: 1 0 auto;
}

top-message {
  position: fixed;
  top: -$card-spacer-y / 2;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;

  > div {
    white-space: nowrap;
    padding: $card-spacer-y $card-spacer-x;
    border: 1px solid $card-border-color;
    background: $card-cap-bg;
    @include border-radius($card-border-radius-inner);
    margin-bottom: $spacer / 2;

    animation-name: slide-down;
    animation-duration: 1s;

    &.out {
      animation-name: fade-out;
      animation-duration: 2s;
    }
  }
}

@keyframes slide-down {
  0% {
    margin-top: -200%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
