@import "node_modules/bootstrap/scss/bootstrap";

$fa-font-path: 'node_modules/font-awesome/fonts';
@import "node_modules/font-awesome/scss/font-awesome";

body {
  padding: 2 * $spacer 0;
}

.card > item {
  display: block;
  padding: $card-spacer-y $card-spacer-x;
  border-top: 1px solid $card-border-color;
  text-align: left;
  &:first-of-type {
    padding-top: 0;
    border-top: 0;
  }
  &:last-child {
    padding-bottom: $card-spacer-x;
  }
  > .label::after {
    content: ':';
  }
  > .float-right > i {
    transition: .5s;
  }
  .collapse {
    overflow: hidden;
    &:not(.in) {
      display: none;
      max-height: 0;
    }
    max-height: 1000px;
  }
}

.flex-item-expandable {
  flex: 1 0 auto;
}

save-hint {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  > span {
    white-space: nowrap;
    padding: ($card-spacer-y/2) $card-spacer-x $card-spacer-y;
    border: 1px solid $card-border-color;
    border-top-width: 0;
    background: $card-cap-bg;
    @include border-radius(0 0 $card-border-radius-inner $card-border-radius-inner);

    display: none;
    opacity: 0;

    &.in {
      display: block;
      animation-name: example;
      animation-duration: 2s;
    }
  }
}

@keyframes example {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  20% {
    opacity: 1;
    transform: translate(0, 0%)
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
