<div class="container">
    <div class="row">
        <h3 class="col-sm-3">The climb</h3>
        <ul class="col-sm-9 list-inline text-xs-right">
            <li class="list-inline-item" *ngIf="false">Milk: {{resourcesService.milk | floor}}</li>
            <li class="list-inline-item">Fat: {{resourcesService.fat | floor}}</li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs pull-xs-left">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/village" routerLinkActive="active">Village</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/climb" routerLinkActive="active">Climb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/research" routerLinkActive="active">Research</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
