<div class="container">
    <header class="d-flex">
        <h3 id="title">The climb</h3>
        <ul class="list-inline text-right flex-item-expandable">
            <li class="list-inline-item" *ngIf="false">Milk: {{resourcesService.milk | floor}}</li>
            <li class="list-inline-item">Essence: {{resourcesService.essence | floor}}</li>
        </ul>
    </header>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs pull-xs-left">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/village" routerLinkActive="active">Village</a>
                </li>
                <li *ngIf="villageService.hasAnyUniversity || villageService.villages.length > 1" class="nav-item">
                    <a class="nav-link" routerLink="/research" routerLinkActive="active">
                        Research
                        <span *ngIf="!researchService.currentResearch" class="badge badge-danger">
                            No research chosen
                        </span>
                        <span *ngIf="researchService.currentResearch" class="badge badge-info">
                            {{researchService.currentProgress | percent:'1.2-2'}}
                        </span>
                    </a>
                </li>
                <li *ngIf="false" class="nav-item">
                    <a class="nav-link" routerLink="/climb" routerLinkActive="active">Climb</a>
                </li>
                <li class="flex-item-expandable"></li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/settings" routerLinkActive="active">&#9881;</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
    <top-messagees></top-messagees>
</div>
