<div *ngIf="researchService.currentResearch">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{researchService.currentResearch.name}}</h4>
            <h6 class="card-subtitle text-muted">Research speed: {{researchService.getResearchProduction()}}/s</h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     [ngStyle]="{width: researchService.currentProgress | percent:'1.0-1'}"></div>
            </div>
            <p class="card-text">{{researchService.currentResearch.description}}</p>
            <p class="card-text">
                <small class="text-muted">Complexity: {{researchService.currentResearch.cost}}</small>
            </p>
        </div>

        <div class="card-footer text-center">Current research</div>
    </div>
</div>

<h3>Available research projects:</h3>
<div class="row">
    <div *ngFor="let research of availableResearch;" class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{research.name}}</h4>
                <p class="card-text">{{research.description}}</p>

                <div class="d-flex align-items-center justify-content-between">
                    <small class="text-muted">Complexity: {{research.cost}}</small>

                    <button type="button" class="btn btn-success"
                            (click)="researchService.startResearch(research.id)">
                        {{researchService.currentResearch ? 'Replace' : 'Start'}} research
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="finishedResearch.length">
    <h3>Finished research projects:</h3>
    <div class="row">
        <div *ngFor="let research of finishedResearch;" class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{research.name}}</h4>
                    <p class="card-text">{{research.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>