<div class="form-group row">
    <div class="col-sm-3 col-form-label">
        Game tick:
    </div>
    <div class="col-sm-9">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1"> 1
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2"> 2
            </label>
        </div>
        <div class="form-check form-check-inline disabled">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3" disabled> 3
            </label>
        </div>

        <div class="small form-text text-muted">
            If your browser seems to lag then it's worth increasing the tick interval,
            so that it can perform computations less often (this will result in less accurate simulation).
        </div>
    </div>
</div>