<div class="row text-center">
    <div class="col-sm-4">
        <div class="card">
            <h4 class="card-header">Population</h4>
            <div class="card-block">
                <h4 class="card-title">Total: {{village.population}}</h4>
                <template [ngIf]="breedingService.getProduction()">
                    <h6 class="card-subtitle text-muted">
                        Breeding time: {{1 / breedingService.getProduction() | number:'1.0-2'}}s
                    </h6>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             [ngStyle]="{width: breedingService.progress | percent:'1.0-1'}"></div>
                    </div>
                </template>
            </div>
            <item [label]="'Unassigned'" [value]="village.freeWorker"
                  [description]="'Some lazy pussies. Better push them to work, as they have to eat even when they are resting.'"></item>

            <item [label]="'Mining'" [value]="village.mines"
                  [description]="'Descending deep into the ground to gather precious essence, that can be used as food, building material or currency.'"></item>

            <item [label]="'Researching'" [value]="village.universities"
                  [description]="'Study hard to deepen the knowledge, develop mountain-science and build essence-technologies that enhance quality of life of whole community.'"></item>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <h4 class="card-header">Mines</h4>
            <div class="card-block text-left">
                <div class="d-flex align-items-center justify-content-between">
                    <span>Price: {{minePrice}} essence</span>
                    <button type="button" class="btn btn-success"
                            [disabled]="buildingMineConstraint ? true : null" (click)="buyMine()">
                        Buy
                    </button>
                </div>
                <div class="small text-muted">{{buildingMineConstraint}}</div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <h4 class="card-header">Universities</h4>
            <div class="card-block text-left">
                <div class="d-flex align-items-center justify-content-between">
                    <span>Price: {{universityPrice}} essence</span>
                    <button type="button" class="btn btn-success"
                            [disabled]="buildingUniversityConstraint ? true : null" (click)="buyUniversity()">
                        Buy
                    </button>
            </div>
                <div class="small text-muted">{{buildingUniversityConstraint}}</div>
        </div>
        </div>
    </div>
</div>